.navbar {
  width: 100vw;
  height: 10%;
  display: flex;
  flex-direction: row;
  // margin: 3%;
  background-color: green;
  text-align: center;
  

  .login-btn {
    // margin-left: 50%;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    // margin-left: 5%;
    font-size: 1.2em;
  }
}

.login {
  width: 50vw;
  height: 50vh;
  // background-color: green;
}

.center {
  text-align: center;
}


